[submodule "haxelib/react"]
	path = haxelib/react
	url = https://github.com/massiveinteractive/haxe-react
[submodule "haxelib/react-native"]
	path = haxelib/react-native
	url = https://github.com/haxe-react/haxe-react-native
